body{
    background-color:#FDEDDD;
}

.name_card{
    width: 100%;
    display: block;
    background-color: #B2A199;
}

.name{
    margin:0;
}

.contact_ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.contact_card{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
}

.contact_li{
    float:left;
}

.contact_a{
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.contact_a_hover:hover{
    background-color: #9BAEB2;
}

.main_div{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 10px;
}

.work_experience{
    width: 100%;
}

h1{
    text-align: center;
}

.title{
    background-color: #DCF9FD;
}

.title2{
    background-color: #9BAEB2;
}

.arvo{
    font-family: 'Arvo', serif;
}

.icon{
    margin-left: 5px;
}